.header{
    background-color: #F0F5F9;
    margin-bottom: 10px;
    .container{
        display:inline-flex;
    }
}
.text {
    height: 40px;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #F0F5F9;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
}
.text:hover{
    background-color: #C9D6DF;
}
.button1{
    margin-left: 22rem;
}
.button, .button1{

    float: right;
    margin-right: 25px;
    height: 40px;
    background-color: #F0F5F9!important;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.button:hover{
    background-color: #C9D6DF!important;
}

