.mainInput {
    padding: 100px;
}

.questionTitle {
    text-align: center;
    padding: 15px;
    font-size: 50px !important;
    letter-spacing: 2px !important;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000;
    color: wheat;
}

.inputDefault:hover {
    border: 1px solid red !important;
}

.shadowBlock {
    background-color: '#0605057d' !important;
    margin: '20px 0px';
    border-radius: '80px';
}

.button {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:focus {
    outline: none;
}