
.formAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    background:
    url('/webpractic/images/1122.jpg')!important;
}

.mta{
    text-align: center;
    text-decoration: none;
    color: #32557f;
  text-decoration: none;
  border-bottom: 1px dashed #32557f;
  padding-bottom: 1px;
}

.enter{
    background-color: #52616B;
}
.enter:hover{
    background-color: #C9D6DF;
    color: #52616B;
}