.day {
    background-color: #282C35 !important;
    padding: 20px;
    color: wheat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
}