.container {
    max-width: 1080px;
    margin: auto;
    height: 100vh;
}
.backgroundImage {
    filter: brightness(70%);
    background:
    url('../images/dgtu.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}